{% extends 'base.html.twig' %}

{% block title %}Modifier les rôles{% endblock %}

{% block body %}
    <h1>Modifier les rôles de {{ user.firstName }} {{ user.lastName }}</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary">Sauvegarder</button>
    {{ form_end(form) }}

    <a href="{{ path('app_admin_dashboard') }}">Retour</a>
{% endblock %}